@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
  font-family: 'Big Shoulders Inline Text', cursive;
}

.flow-text {
  font-size: 40px;
}
.html-txt {
  color: rgb(198, 24, 24);
  font-size: 40px;
}

.btn-small {
  border-radius: 50px;
}

.container {
  border: 2px solid black;
  margin-top: 7%;
  margin-bottom: 7%;
}